/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * Calypso implementation : © Andy Bond <48208438+ADBond@users.noreply.github.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * calypso.css
 *
 * Calypso stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (calypso_calypso.tpl), and to HTML elements you create dynamically
    (in calypso.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/


/* Note: you must not use any @import directive */


/********* You can start writing your CSS below this line: **********/

/* for reference: */
/* .whiteblock {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background-image: url("../img/layout/rounded_b.png");
} */

$calypso_colour: #8800DD;
$card_width: 72px;
$card_height: 96px;
$num_ranks: 13;

/** Table layout **/

#playarea {
    position: relative;
    width: 1500px;
    height: 1000px;
}

/* #playertables {
    position: relative;
    left: 200px;
    width: 710px;
    height: 340px;
} */
#tablearea {
    position: relative;
    left: 20%;
    width: 800px;
    height: 800px;
    background-color: $calypso_colour;
    border-radius: 20px;
    z-index: -1;
}

#playercalypso {
    position: relative;
    left: 20px;
    top: -340px;
}

#clp-gameinfo {
    position: absolute;
    font-weight: bold;
    width: 200px;
    font-size: 16px;
    background-color: $calypso_colour;
}

.playertablename {
    font-weight: bold;
    padding-bottom: 5px;
}
.personal-trump {
    font-weight: bold;
    color: black;
}

.playertable {
    position: absolute;
    text-align: center;
    width: 180px;
    height: 130px;
}

.playertable_N {
    left: 500px;
    top: 150px;
}
.playertable_S {
    left: 500px;
    top: 350px;
}
.playertable_W {
    left: 300px;
    top: 250px;
}
.playertable_E {
    left: 700px;
    top: 250px;
}

.playertablecard {
    display: inline-block;
    position: relative;
    margin-top: 5px;
    width: $card_width;
    height: $card_height;
}

#myhand_wrap {
    position: absolute;
    top: 800px;
    width: 1200px;
}

#dealerbutton {
    position: relative;
    width: 16px;
    height: 16px;
    background-image: url('img/dealer.png');  /* can swap out placeholder image in directory ;) */
    z-index: 1;
}
.dealer-indicator-area {
    position: relative;
    float: left;
    width: 16px;
    height: 16px;
}

/*** cards on table ***/

.cardontable {
    position: absolute;
    width: $card_width;
    height: $card_height;
    background-image: url('img/cards.jpg'); 
}

/*** calypsos ***/

// Offset for overlapping of calypso cards:
$each_card_offset: 25px;
$calyspo_pure_width: $each_card_offset*($num_ranks - 1) + $card_width;
@for $rank from 2 through $num_ranks+1 {
    $offset_value: ($rank - 2) * $each_card_offset;
    .calypsocard-#{$rank} {
        left: ($rank - 2) * $each_card_offset;
    }
}
@for $suit from 1 through 4 {
    .card-space-#{$suit} {
        background-position: 0px (-$card_height * ($suit - 1));
    }
}

// This is for the actual cards that are won:
.cardincalypso {
    /* Probably best not to scale, but maybe handy if things get cluttered. rotate probably useful though! */
    /* transform: scale(0.6); */
    background-image: url('img/cards.jpg');  
}
// while _this_ is the placeholder layout
.calypsocard {
    outline: solid 1px black;
    /* background-color: #AAA; */
    z-index: 0;
    background-image: url('img/cards_layout.jpg'); 
}
.captured-card {
    position: absolute;
    width: $card_width;
    height: $card_height;
}

/* TODO: rename - this bounds all of our public info */
$won_tricks_left_buffer: 40px;
$calypso_zone_pure_width: $calyspo_pure_width + $won_tricks_left_buffer + $card_width;

$calypso_zone_side_padding: 10px;
$calypso_bottom_buffer: 20px;

$revoke_size: 32px;
$revoke_padding: 4px;
.calypso {
    position: absolute;
    text-align: center;
    width: $calypso_zone_pure_width + $calypso_zone_side_padding;
    height: $calypso_bottom_buffer + $card_height + $revoke_size + 2*$revoke_padding;
    outline: solid 1px black;
    padding: $calypso_zone_side_padding;
    /* while I figure out what to do: */
    background: rgba(0, 141, 0, 0.2); /* for now while it's WIP */ 
}

.revoke-indicators {
    // left: 20px;
    position: absolute;
}
.revoke-indicator {
    width: $revoke_size;
    height: $revoke_size;
    background-color: #444444;
    display: inline-block;
    margin: $revoke_padding;
}
.clp-playername {
    font-weight: bold;
    height: $revoke_size;
    font-size: 24px;
    position: absolute;
    right: 40px;
}
.playercalypso {
    /* display: inline-block;
    position: relative; */
    // left: 20px;
    position: absolute;
    /* margin-top: 5px; */
    width: $calypso_zone_pure_width;
    height: $card_height;
    /* leaving room for revokers */
    bottom: $calypso_bottom_buffer;
}
.wontricks {
    width: $card_width;
    height: $card_height;
    background-color: #444444;
    right: 0px;
}

/* Temporary positioning for now */
.calypso_N {
    right: 20px;
    top: 20px;
    transform: rotate(180deg);
}
.calypso_E {
    right: -500px; /* desired - width*/
    bottom: 20px;
    transform-origin: bottom left;
    transform: rotate(270deg);
}
.calypso_S {
    left: 20px;
    bottom: 20px;
}
.calypso_W {
    left: 20px;
    top: -200px; /* desired top - height*/
    transform-origin: bottom left;
    transform: rotate(90deg);
}

/* Score stuff */
.clp-number-entry {
    color: red;
    font-style: italic;
}
.clp-score-entry {
    font-weight: bold;
}
.clp-number-label {
    text-align: left;
    font-style: italic;
}
.clp-score-label {
    text-align: right;
}
