@charset "UTF-8";
/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * Calypso implementation : © Andy Bond <48208438+ADBond@users.noreply.github.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * calypso.css
 *
 * Calypso stylesheet
 *
 */
/*
    This is the CSS stylesheet of your game User Interface.

    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (calypso_calypso.tpl), and to HTML elements you create dynamically
    (in calypso.js).

    Usually, you are using CSS to:

    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).

    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.


     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/
/* Note: you must not use any @import directive */
/********* You can start writing your CSS below this line: **********/
/* for reference: */
/* .whiteblock {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background-image: url("../img/layout/rounded_b.png");
} */
/* TODO: newer sass compat - division stuff */
/* TODO ?maybe rgba -> rgb (css) */
/** Table layout **/
#clp-public-area {
  position: relative;
  height: 740px;
}

#clp-table-area {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 740px;
  height: 740px;
  background-color: #8800DD;
  border-radius: 20px;
  z-index: 1;
}

#clp-table-centre {
  position: absolute;
  left: 370px;
  top: 370px;
  width: 0;
  height: 0;
  z-index: 41;
}

.clp-game-info {
  height: 50px;
  margin: 10px auto;
  width: 666px;
  border-radius: 10px;
  position: relative;
  font-weight: bold;
  font-size: 20px;
  padding: 15px;
  text-align: center;
  background-color: rgba(136, 0, 221, 0.5);
}

.clp-gametitle {
  font-size: 30px;
}

.clp-playerbox-additions {
  clear: both;
}

.clp-calypso-info {
  clear: both;
  width: 64px;
  margin: 5px auto;
  display: flex;
}

.clp-info-count {
  font-size: 21.3333333333px;
  font-weight: bold;
  margin-left: 10px;
  padding-top: 5.3333333333px;
  flex-grow: 1;
}

.clp-suit-icon {
  float: left;
  background-image: url("img/card_suits.png");
  width: 32px;
  height: 32px;
}

.clp-suit-text {
  font-size: 1.4em;
  font-weight: bold;
}

.clp-suit-text-spades {
  color: #000;
}

.clp-suit-text-clubs {
  color: #000;
}

.clp-suit-text-hearts {
  color: #C00;
}

.clp-suit-text-diamonds {
  color: #C00;
}

.clp-player-card-play-area {
  outline: ridge 3px #AAA;
  width: 92px;
  height: 116px;
  z-index: 40;
}

.clp-player-card-play-area-N {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%);
}

.clp-player-card-play-area-S {
  position: absolute;
  bottom: 30%;
  left: 50%;
  transform: translate(-50%);
}

.clp-player-card-play-area-W {
  position: absolute;
  left: 30%;
  top: 50%;
  transform: translate(0, -50%);
}

.clp-player-card-play-area-E {
  position: absolute;
  right: 30%;
  top: 50%;
  transform: translate(0, -50%);
}

.clp-player-card-play-area-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 72px;
  height: 96px;
}

#clp-myhand-wrap {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 70%;
  max-width: 740px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.clp-active-hand .clp-hand-card:hover, .clp-selected-card {
  transform: translate(0, -10px);
}

.clp-inactive-hand .clp-hand-card {
  cursor: default !important;
}

/*** cards on table ***/
.clp-face-up-card {
  border-radius: 5px;
  width: 72px;
  height: 96px;
  background-image: url("img/cards.webp");
}

.clp-card-on-table {
  position: absolute;
}

/*** calypsos ***/
.clp-calypsocard-2 {
  left: 0px;
}

.clp-calypsocard-3 {
  left: 25px;
}

.clp-calypsocard-4 {
  left: 50px;
}

.clp-calypsocard-5 {
  left: 75px;
}

.clp-calypsocard-6 {
  left: 100px;
}

.clp-calypsocard-7 {
  left: 125px;
}

.clp-calypsocard-8 {
  left: 150px;
}

.clp-calypsocard-9 {
  left: 175px;
}

.clp-calypsocard-10 {
  left: 200px;
}

.clp-calypsocard-11 {
  left: 225px;
}

.clp-calypsocard-12 {
  left: 250px;
}

.clp-calypsocard-13 {
  left: 275px;
}

.clp-calypsocard-14 {
  left: 300px;
}

.clp-card-space-1 {
  background-position: 0px 0px;
}

.clp-renounce-1 {
  background-position: 0px 0px;
}

.clp-suit-icon-1 {
  background-position: 0px 0px;
}

.clp-calypsocard-face-1-2 {
  z-index: 16;
  background-position-x: 0px;
  background-position-y: 0px;
}

.clp-calypsocard-face-1-3 {
  z-index: 17;
  background-position-x: -72px;
  background-position-y: 0px;
}

.clp-calypsocard-face-1-4 {
  z-index: 18;
  background-position-x: -144px;
  background-position-y: 0px;
}

.clp-calypsocard-face-1-5 {
  z-index: 19;
  background-position-x: -216px;
  background-position-y: 0px;
}

.clp-calypsocard-face-1-6 {
  z-index: 20;
  background-position-x: -288px;
  background-position-y: 0px;
}

.clp-calypsocard-face-1-7 {
  z-index: 21;
  background-position-x: -360px;
  background-position-y: 0px;
}

.clp-calypsocard-face-1-8 {
  z-index: 22;
  background-position-x: -432px;
  background-position-y: 0px;
}

.clp-calypsocard-face-1-9 {
  z-index: 23;
  background-position-x: -504px;
  background-position-y: 0px;
}

.clp-calypsocard-face-1-10 {
  z-index: 24;
  background-position-x: -576px;
  background-position-y: 0px;
}

.clp-calypsocard-face-1-11 {
  z-index: 25;
  background-position-x: -648px;
  background-position-y: 0px;
}

.clp-calypsocard-face-1-12 {
  z-index: 26;
  background-position-x: -720px;
  background-position-y: 0px;
}

.clp-calypsocard-face-1-13 {
  z-index: 27;
  background-position-x: -792px;
  background-position-y: 0px;
}

.clp-calypsocard-face-1-14 {
  z-index: 28;
  background-position-x: -864px;
  background-position-y: 0px;
}

.clp-calypsopile-1 {
  background-position-x: -864px;
  background-position-y: 0px;
}

.clp-card-space-2 {
  background-position: 0px -96px;
}

.clp-renounce-2 {
  background-position: 0px -32px;
}

.clp-suit-icon-2 {
  background-position: 0px -32px;
}

.clp-calypsocard-face-2-2 {
  z-index: 16;
  background-position-x: 0px;
  background-position-y: -96px;
}

.clp-calypsocard-face-2-3 {
  z-index: 17;
  background-position-x: -72px;
  background-position-y: -96px;
}

.clp-calypsocard-face-2-4 {
  z-index: 18;
  background-position-x: -144px;
  background-position-y: -96px;
}

.clp-calypsocard-face-2-5 {
  z-index: 19;
  background-position-x: -216px;
  background-position-y: -96px;
}

.clp-calypsocard-face-2-6 {
  z-index: 20;
  background-position-x: -288px;
  background-position-y: -96px;
}

.clp-calypsocard-face-2-7 {
  z-index: 21;
  background-position-x: -360px;
  background-position-y: -96px;
}

.clp-calypsocard-face-2-8 {
  z-index: 22;
  background-position-x: -432px;
  background-position-y: -96px;
}

.clp-calypsocard-face-2-9 {
  z-index: 23;
  background-position-x: -504px;
  background-position-y: -96px;
}

.clp-calypsocard-face-2-10 {
  z-index: 24;
  background-position-x: -576px;
  background-position-y: -96px;
}

.clp-calypsocard-face-2-11 {
  z-index: 25;
  background-position-x: -648px;
  background-position-y: -96px;
}

.clp-calypsocard-face-2-12 {
  z-index: 26;
  background-position-x: -720px;
  background-position-y: -96px;
}

.clp-calypsocard-face-2-13 {
  z-index: 27;
  background-position-x: -792px;
  background-position-y: -96px;
}

.clp-calypsocard-face-2-14 {
  z-index: 28;
  background-position-x: -864px;
  background-position-y: -96px;
}

.clp-calypsopile-2 {
  background-position-x: -864px;
  background-position-y: -96px;
}

.clp-card-space-3 {
  background-position: 0px -192px;
}

.clp-renounce-3 {
  background-position: 0px -64px;
}

.clp-suit-icon-3 {
  background-position: 0px -64px;
}

.clp-calypsocard-face-3-2 {
  z-index: 16;
  background-position-x: 0px;
  background-position-y: -192px;
}

.clp-calypsocard-face-3-3 {
  z-index: 17;
  background-position-x: -72px;
  background-position-y: -192px;
}

.clp-calypsocard-face-3-4 {
  z-index: 18;
  background-position-x: -144px;
  background-position-y: -192px;
}

.clp-calypsocard-face-3-5 {
  z-index: 19;
  background-position-x: -216px;
  background-position-y: -192px;
}

.clp-calypsocard-face-3-6 {
  z-index: 20;
  background-position-x: -288px;
  background-position-y: -192px;
}

.clp-calypsocard-face-3-7 {
  z-index: 21;
  background-position-x: -360px;
  background-position-y: -192px;
}

.clp-calypsocard-face-3-8 {
  z-index: 22;
  background-position-x: -432px;
  background-position-y: -192px;
}

.clp-calypsocard-face-3-9 {
  z-index: 23;
  background-position-x: -504px;
  background-position-y: -192px;
}

.clp-calypsocard-face-3-10 {
  z-index: 24;
  background-position-x: -576px;
  background-position-y: -192px;
}

.clp-calypsocard-face-3-11 {
  z-index: 25;
  background-position-x: -648px;
  background-position-y: -192px;
}

.clp-calypsocard-face-3-12 {
  z-index: 26;
  background-position-x: -720px;
  background-position-y: -192px;
}

.clp-calypsocard-face-3-13 {
  z-index: 27;
  background-position-x: -792px;
  background-position-y: -192px;
}

.clp-calypsocard-face-3-14 {
  z-index: 28;
  background-position-x: -864px;
  background-position-y: -192px;
}

.clp-calypsopile-3 {
  background-position-x: -864px;
  background-position-y: -192px;
}

.clp-card-space-4 {
  background-position: 0px -288px;
}

.clp-renounce-4 {
  background-position: 0px -96px;
}

.clp-suit-icon-4 {
  background-position: 0px -96px;
}

.clp-calypsocard-face-4-2 {
  z-index: 16;
  background-position-x: 0px;
  background-position-y: -288px;
}

.clp-calypsocard-face-4-3 {
  z-index: 17;
  background-position-x: -72px;
  background-position-y: -288px;
}

.clp-calypsocard-face-4-4 {
  z-index: 18;
  background-position-x: -144px;
  background-position-y: -288px;
}

.clp-calypsocard-face-4-5 {
  z-index: 19;
  background-position-x: -216px;
  background-position-y: -288px;
}

.clp-calypsocard-face-4-6 {
  z-index: 20;
  background-position-x: -288px;
  background-position-y: -288px;
}

.clp-calypsocard-face-4-7 {
  z-index: 21;
  background-position-x: -360px;
  background-position-y: -288px;
}

.clp-calypsocard-face-4-8 {
  z-index: 22;
  background-position-x: -432px;
  background-position-y: -288px;
}

.clp-calypsocard-face-4-9 {
  z-index: 23;
  background-position-x: -504px;
  background-position-y: -288px;
}

.clp-calypsocard-face-4-10 {
  z-index: 24;
  background-position-x: -576px;
  background-position-y: -288px;
}

.clp-calypsocard-face-4-11 {
  z-index: 25;
  background-position-x: -648px;
  background-position-y: -288px;
}

.clp-calypsocard-face-4-12 {
  z-index: 26;
  background-position-x: -720px;
  background-position-y: -288px;
}

.clp-calypsocard-face-4-13 {
  z-index: 27;
  background-position-x: -792px;
  background-position-y: -288px;
}

.clp-calypsocard-face-4-14 {
  z-index: 28;
  background-position-x: -864px;
  background-position-y: -288px;
}

.clp-calypsopile-4 {
  background-position-x: -864px;
  background-position-y: -288px;
}

.clp-calypsocard-space {
  outline: solid 1px black;
  z-index: 2;
  background-image: url("img/cards_layout.png");
}

.clp-captured-card {
  position: absolute;
  width: 72px;
  height: 96px;
}

.clp-player-personal-area {
  position: absolute;
  text-align: center;
  width: 492px;
  height: 156px;
  padding: 8px;
  background: rgba(255, 255, 255, 0.75);
}

.clp-player-personal-area-1, .clp-player-personal-area-2 {
  outline: solid 5px #9fff3f;
}

.clp-player-personal-area-3, .clp-player-personal-area-4 {
  outline: solid 5px #ffff3f;
}

.clp-teamname {
  font-weight: bold;
  font-size: 1.2em;
  margin: 5px;
  text-align: center;
  background-color: #AAA;
  display: block;
  padding: 6px;
  border-radius: 5px;
}

.clp-teamname-major {
  color: #9fff3f;
}

.clp-teamname-minor {
  color: #ffff3f;
}

.clp-renounce-indicators {
  position: absolute;
}

.clp-renounce-indicator {
  width: 32px;
  height: 32px;
  display: inline-block;
  margin: 4px;
}

.clp-active-renounce {
  background-color: #B8B8B8;
  background-image: url("img/card_suits.png");
  z-index: 3;
}

.clp-inactive-renounce {
  background-color: #777;
}

.clp-dealer-indicator-area {
  position: absolute;
  width: 32px;
  height: 32px;
  left: 215px;
  margin: 4px;
}

#clp-dealerbutton {
  width: 32px;
  height: 32px;
  background-image: url("img/back_1.svg"), url("img/back_1.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: 4px 0, 0 0;
  background-size: 24px, 24px;
  z-index: 3;
}

.clp-playername {
  font-weight: bold;
  height: 32px;
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 20px;
  position: absolute;
  right: 40px;
}

.clp-playername-N {
  transform: rotate(180deg);
}

.clp-player-all-captured-cards {
  position: absolute;
  width: 484px;
  height: 96px;
  /* leaving room for renounces */
  bottom: 20px;
}

.clp-calypsoholder {
  width: 372px;
  height: 96px;
  outline: solid 3px black;
  position: absolute;
}

.clp-trickpile {
  width: 72px;
  height: 96px;
  right: 0;
  position: absolute;
  background-color: #777;
  z-index: 35;
}

.clp-calypsopile {
  width: 72px;
  height: 96px;
  right: 12px;
  position: absolute;
  bottom: 12px;
  z-index: 2;
}

.clp-calypsopile-full {
  background-image: url("img/cards.webp");
}

.clp-trickpile-full {
  border-radius: 5px;
  background-image: url("img/back_1.svg");
}

.clp-player-personal-area-N {
  position: absolute;
  right: 20px;
  top: 20px;
  transform: rotate(180deg);
}

.clp-player-personal-area-E {
  position: absolute;
  right: -488px;
  bottom: 20px;
  transform-origin: bottom left;
  transform: rotate(270deg);
}

.clp-player-personal-area-S {
  position: absolute;
  left: 20px;
  bottom: 20px;
}

.clp-player-personal-area-W {
  position: absolute;
  left: 20px;
  top: -152px;
  transform-origin: bottom left;
  transform: rotate(90deg);
}

/* Score stuff */
.clp-number-entry {
  color: red;
  font-style: italic;
}

.clp-score-entry {
  font-weight: bold;
}

.clp-number-label {
  text-align: left;
  font-style: italic;
}

.clp-score-label {
  text-align: right;
}

.clp-table-suit {
  display: block;
  background-image: url("img/card_suits.png");
  width: 32px;
  height: 32px;
  margin: auto;
}

#clp-score-access-table-area {
  position: absolute;
  margin: auto;
  padding: 10px;
  top: 10%;
  right: 0;
  z-index: 0;
  background-color: rgba(136, 0, 221, 0.2);
  border-radius: 10px;
}

@media screen and (max-width: 1500px) {
  #clp-score-access-table-area {
    position: relative;
    width: 480px;
    padding: 10px;
    display: block;
  }
  #clp-score-access-by-round {
    column-count: 2;
  }
  #clp-score-access-overall {
    position: relative;
    left: 50%;
    transform: translate(-115px);
  }
}
.clp-score-button {
  height: 100px;
  width: 230px;
  border: 1px solid #FFFFFF;
  margin: 5px;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 20px;
  color: #FFFFFF;
  text-align: center;
  transition: all 0.2s;
  box-shadow: #000000 0 1px 0;
}

.clp-score-button-inactive {
  background-color: #888888;
  opacity: 0.5;
}

.clp-score-button-active {
  background-color: #8800DD;
  cursor: pointer;
}

.clp-score-button-active:hover {
  color: #000000;
  background-color: #FFFFFF;
}

#clp-round-scores-button-overall {
  margin-top: 20px;
}

/* user preference colour options */
.clp-up-purple .clp-game-info {
  background-color: rgba(136, 0, 221, 0.5);
}
.clp-up-purple #clp-score-access-table-area {
  background-color: rgba(136, 0, 221, 0.2);
}
.clp-up-purple #clp-table-area, .clp-up-purple .clp-score-button-active {
  background-color: #8800DD;
}

.clp-up-yellow .clp-game-info {
  background-color: rgba(204, 204, 0, 0.5);
}
.clp-up-yellow #clp-score-access-table-area {
  background-color: rgba(204, 204, 0, 0.2);
}
.clp-up-yellow #clp-table-area, .clp-up-yellow .clp-score-button-active {
  background-color: #cccc00;
}

.clp-up-red .clp-game-info {
  background-color: rgba(221, 0, 0, 0.5);
}
.clp-up-red #clp-score-access-table-area {
  background-color: rgba(221, 0, 0, 0.2);
}
.clp-up-red #clp-table-area, .clp-up-red .clp-score-button-active {
  background-color: #dd0000;
}

.clp-up-green .clp-game-info {
  background-color: rgba(0, 221, 0, 0.5);
}
.clp-up-green #clp-score-access-table-area {
  background-color: rgba(0, 221, 0, 0.2);
}
.clp-up-green #clp-table-area, .clp-up-green .clp-score-button-active {
  background-color: #00dd00;
}

.clp-up-blue .clp-game-info {
  background-color: rgba(0, 0, 221, 0.5);
}
.clp-up-blue #clp-score-access-table-area {
  background-color: rgba(0, 0, 221, 0.2);
}
.clp-up-blue #clp-table-area, .clp-up-blue .clp-score-button-active {
  background-color: #0000dd;
}

.clp-up-white .clp-game-info {
  background-color: rgba(221, 221, 221, 0.5);
}
.clp-up-white #clp-score-access-table-area {
  background-color: rgba(221, 221, 221, 0.2);
}
.clp-up-white #clp-table-area, .clp-up-white .clp-score-button-active {
  background-color: #dddddd;
}

.clp-up-black .clp-game-info {
  background-color: rgba(34, 34, 34, 0.5);
}
.clp-up-black #clp-score-access-table-area {
  background-color: rgba(34, 34, 34, 0.2);
}
.clp-up-black #clp-table-area, .clp-up-black .clp-score-button-active {
  background-color: #222222;
}

.clp-up-pink .clp-game-info {
  background-color: rgba(255, 29, 142, 0.5);
}
.clp-up-pink #clp-score-access-table-area {
  background-color: rgba(255, 29, 142, 0.2);
}
.clp-up-pink #clp-table-area, .clp-up-pink .clp-score-button-active {
  background-color: #ff1d8e;
}

.clp-up-cyan .clp-game-info {
  background-color: rgba(0, 255, 255, 0.5);
}
.clp-up-cyan #clp-score-access-table-area {
  background-color: rgba(0, 255, 255, 0.2);
}
.clp-up-cyan #clp-table-area, .clp-up-cyan .clp-score-button-active {
  background-color: #00ffff;
}

.clp-up-darkgreen .clp-game-info {
  background-color: rgba(0, 85, 0, 0.5);
}
.clp-up-darkgreen #clp-score-access-table-area {
  background-color: rgba(0, 85, 0, 0.2);
}
.clp-up-darkgreen #clp-table-area, .clp-up-darkgreen .clp-score-button-active {
  background-color: #005500;
}

.clp-up-orange .clp-game-info {
  background-color: rgba(221, 136, 0, 0.5);
}
.clp-up-orange #clp-score-access-table-area {
  background-color: rgba(221, 136, 0, 0.2);
}
.clp-up-orange #clp-table-area, .clp-up-orange .clp-score-button-active {
  background-color: #dd8800;
}

.tableWindow th {
  text-align: center;
}

.clp-no-transform * {
  transform: none !important;
}

/*# sourceMappingURL=calypso.css.map */
